.screen {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-left: 150px;
    padding-right: 150px;
    /* margin-left: 0; */
  }